
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: orange;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .nav-links {
    flex-basis: 50%;
    text-align: center;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
    margin: 0 auto;
  }
  
  .nav-links a {
    color:white;
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
  }
  
  .nav-links a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color:navy;
    visibility: hidden;
    transform: scaleX(1);
    transition: all 0.1s ease-in-out 0s;
  }
  .nav-links a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .link1,
  .link2,
  .link3,
  .link4 {
    flex-basis: 50%;
    text-align: center;
  }

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: stretch;}

/* Slideshow container */
.slideshow-container {
  width: 50%;
  position: relative;
  margin: auto;
  padding-top: 0%;

}

/* Caption text */
.text {
  color: navy;
  background-color: white;
  opacity: 0.8;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: orange;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:orangered;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.active {
  background-color: navy;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
  .card-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }
  
  .card-group {
    display: flex;
    margin: 0 20px;
  }
  
  .card {
    margin: 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 12px 8px 0 #e1ba0b;
    overflow: hidden;
    background-color:whitesmoke;
    
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 navy;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  h1{
    text-align: center;
    margin-top: 80px;
  }
  h3{
  color: rgb(160, 80, 235);
  }
  p{
    text-align: center;
  }
  aside {
    width: 30%;
    border-radius: 5%;
    margin-left: 10px;
    float: right;
    font-style: italic;
    background-color: rgb(245, 199, 109);
    flex-direction: column;
  }
  .float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 0px solid navy;
    background-color: rgb(143, 143, 246);
}  
footer{
  text-align: center;
  background-color: #e1ba0b;
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

